<!DOCTYPE html>
<html lang="es">
     <head>
          {% load static %}
          {% load bootstrap4 %}
          {% bootstrap_css %}

          <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/administrador.css' %}">
          <meta charset="utf-8">
          <title>Elderly Falls</title>
     </head>
     <body>
          <div>
               <div class="row my-2 mr-2">
                    <h4 class="col ml-2">
                         Bienvenido, {{usuario_autenticado.nombre}} {{usuario_autenticado.apellido}}
                    </h4>
                    <div class="col" align="right">
                         <a class="btn btn-info text-center"
                            href="/administracion/usuarios"
                            style="width:20%" role="button">Usuarios
                         </a>
                         <a class="btn btn-primary text-center"
                            href="/logout"
                            style="width:20%" role="button">Cerrar sesión
                         </a>
                    </div>
               </div>
               <div class="row ml-2 mr-2">
                    <div class="col col-lg-8 border rounded">
                         <img class="mx-auto d-block mt-2"
                              src="{% static 'monitor/logo_ups.png' %}"
                              width="400" height="120">
                         <h3 class="text-center mt-2">Caídas registradas</h3>
                         <table class="table table-striped vertical-scroll">
                              <thead>
                                   <tr>
                                        <th class="text-center">Nro. Registro</th>
                                        <th class="text-center">Fecha y hora</th>
                                        <th class="text-center">Ubicación</th>
                                        <th class="text-center">Imagen</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   {% if caidas %}
                                        {% for caida in caidas %}
                                             <tr>
                                                  <td class="text-center">{{caida.id}}</td>
                                                  <td class="text-center">{{caida.fecha}}</td>
                                                  <td class="text-center">{{caida.ubicacion}}</td>
                                                  <td class="text-center">Ver</td>
                                             </tr>
                                        {% endfor %}
                                   {% else %}
                                        {% for i in tabla_vacia %}
                                             <tr>
                                                  <td class="text-center">---</td>
                                                  <td class="text-center">---</td>
                                                  <td class="text-center">---</td>
                                                  <td class="text-center">---</td>
                                             </tr>
                                        {% endfor %}
                                   {% endif %}
                              </tbody>
                         </table>
                    </div>
                    <div class="col col-4 border rounded">
                         <h3 class="text-center mt-3">Monitor</h3>
                         <img class="mx-auto d-block"
                              src="{% static 'monitor/test1.png' %}">
                         <div class="mt-3 text-center">
                              <strong>Total de caidas registradas: </strong><label>???</label><br>
                              <strong>Promedio de caídas por año: </strong><label>???</label><br>
                              <strong>Ubicación con más frecuencia de caídas: </strong><label>???</label><br>
                              <strong>Hora con más frecuencia de caídas: </strong><label>???</label><br>
                              <button class="btn btn-primary mt-5" type="button">Descargar reporte</button>
                         </div>
                    </div>
               </div>
          </div>
          {% bootstrap_javascript jquery='full' %}
     </body>
</html>
