<!DOCTYPE html>
<html lang="es">
     <head>
          {% load static %}
          {% load bootstrap4 %}
          {% bootstrap_css %}

          <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/monitor.css' %}">
          <meta charset="utf-8">
          <title>Elderly Falls</title>
     </head>
     <body>
          <div>
               <div class="row my-2 mr-2">
                    <h5 class="col ml-2">
                         Bienvenido, {{usuario_autenticado.persona.nombre}} {{usuario_autenticado.persona.apellido}}
                    </h5>
                    <div class="col" align="right">
                         <a class="btn btn-info text-center"
                            href="/administracion/usuarios"
                            style="width:20%" role="button">Usuarios
                         </a>
                         <a class="btn btn-info text-center"
                            href="/administracion/pacientes"
                            style="width:20%" role="button">Pacientes
                         </a>
                         <a class="btn btn-primary text-center"
                            href="/logout"
                            style="width:20%" role="button">Cerrar sesión
                         </a>
                    </div>
               </div>
               <div class="row ml-2 mr-2">
                    <div class="col col-lg-8 border rounded">
                         <img class="mx-auto d-block mt-2"
                              src="{% static 'monitor/logo_ups.png' %}"
                              width="400" height="120">
                         <h3 class="text-center mt-2">Caídas registradas</h3>
                         <table class="table vertical-scroll">
                              <thead>
                                   <tr class="row justify-content-center text-center">
                                        <th class="col">Paciente</th>
                                        <th class="col">Fecha y hora</th>
                                        <th class="col">Precisión</th>
                                        <th class="col">Imagen</th>
                                   </tr>
                              </thead>
                              <tbody style="height: 360px;">
                                   {% if caidas %}
                                        {% for caida in caidas %}
                                             <tr class="row justify-content-center text-center">
                                                  <td class="col">{{caida.paciente.persona.nombre}} {{caida.paciente.persona.apellido}}</td>
                                                  <td class="col">{{caida.fecha}}</td>
                                                  <td class="col">{{caida.precision}}</td>
                                                  <td class="col">
                                                       <form action="/administracion/ver-imagen" method="POST" target="_blank">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="url" value="{{caida.imagen.url}}">
                                                            <button class="btn btn-outline-primary text-center"
                                                                    type="submit" style="width: 50%">
                                                                 Ver
                                                            </button>
                                                       </form>
                                                  </td>
                                             </tr>
                                        {% endfor %}
                                   {% else %}
                                        {% for i in tabla_vacia %}
                                             <tr class="row justify-content-center text-center">
                                                  <td class="col">---</td>
                                                  <td class="col">---</td>
                                                  <td class="col">---</td>
                                                  <td class="col">---</td>
                                             </tr>
                                        {% endfor %}
                                   {% endif %}
                              </tbody>
                         </table>
                    </div>
                    <div class="col col-4 border rounded">
                         <h3 class="text-center mt-3">Monitor</h3>
                         <img class="mx-auto d-block"
                              src="{% static 'monitor/test1.png' %}">
                         <div class="mt-3 text-center">
                              <strong>Total de caidas registradas: </strong><label>{{total_caidas}}</label><br>
                              <strong>Promedio de caídas por año: </strong><label>???</label><br>
                              <strong>Precisión promedio de caídas: </strong><label>???</label><br>
                              <strong>Hora más frecuente de caídas: </strong><label>???</label><br>
                         </div>
                    </div>
               </div>
          </div>
          {% bootstrap_javascript jquery='full' %}
     </body>
</html>
