<!DOCTYPE html>
<html lang="es">
     <head>
          {% load static %}
          {% load bootstrap4 %}
          {% bootstrap_css %}

          <script type="text/javascript" src="{% static 'monitor/js/validaciones.js' %}"></script>
          <meta charset="utf-8">
          <title>Elderly Fallse</title>
     </head>
     <body>
          <div>
               <div class="row my-2 mr-2">
                    <h4 class="col ml-2">
                         Bienvenido, {{usuario_autenticado.nombre}} {{usuario_autenticado.apellido}}
                    </h4>
                    <div class="col" align="right">
                         <a class="btn btn-info text-center"
                            href="/administracion/usuarios"
                            style="width:20%" role="button">Usuarios
                         </a>
                         <a class="btn btn-primary text-center"
                            href="/logout"
                            style="width:20%" role="button">Cerrar sesión
                         </a>
                    </div>
               </div>
               <div class="container row mx-auto my-5">
                    <form class="form-group mx-auto border" style="width: 50%" method="POST">
                         {% csrf_token %}
                         {% if tipo_mensaje == "exito" %}
                              <div class="alert alert-success text-center" role="alert">
                                   {{mensaje}}
                              </div>
                         {% elif tipo_mensaje == "error" %}
                              <div class="alert alert-danger text-center" role="alert">
                                   {{mensaje}}
                              </div>
                         {% endif %}
                         <input class="form-control text-center mt-5 mx-auto"
                                style="width: 70%" type="text" pattern="[0-9]{10}"
                                name="cedula" placeholder="Cedula" maxlength="10"
                                onkeypress="return esNumero(event)" required>
                         <input class="form-control text-center mt-2 mx-auto"
                                style="width: 70%" type="text" maxlength="50"
                                name="nombre" placeholder="Nombre" required>
                         <input class="form-control text-center mt-2 mx-auto"
                                style="width: 70%" type="text" maxlength="50"
                                name="apellido" placeholder="Apellido" required>
                         <div class="text-center mt-2 mx-auto" style="width: 70%">
                              <select class="form-control" name="tipo" required>
                                   <option hidden disabled selected>Tipo de usuario</option>
                                   <option value="admin">Administrador</option>
                                   <option value="regular">Regular</option>
                              </select>
                         </div>
                         <input class="form-control text-center mt-2 mx-auto"
                                style="width: 70%" type="password" maxlength="30"
                                name="clave" placeholder="Contraseña" required>
                         <button class="form-control text-center btn-primary mx-auto mt-3 mb-5"
                                 style="width:35%" type="submit">Registrar
                         </button>
                    </form>
               </div>
          </div>
          {% bootstrap_javascript jquery='full' %}
     </body>
</html>
