<!DOCTYPE html>
<html lang="en">
     <head>
          {% load static %}
          {% load bootstrap4 %}
          {% bootstrap_css %}

          <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/login.css' %}">
          <script type="text/javascript" src="{% static 'monitor/js/login.js' %}"></script>
          <meta charset="utf-8">
          <title>Elderly Falls</title>
          {% bootstrap_javascript jquery='full' %}
     </head>
     <body>
          <div class="container">
               <form class="form-group border mx-auto wrap" method="POST">
                    {% csrf_token %}
                    <img class="mx-auto d-block mt-2"
                         src="{% static 'monitor/logo_ups.png' %}"
                         width="350" height="100">
                    <input class="form-control text-center mx-auto mt-3" style="width:50%"
                           type="text" name="usuario" placeholder="Cedula"
                           pattern="[0-9]{10}" maxlength="10"
                           onkeypress="return esNumero(event)" required><br>
                    <input class="form-control text-center mx-auto" style="width:50%"
                           type="password" name="clave" placeholder="Contraseña"
                           maxlength="15" required>
                    <button class="form-control text-center btn-primary mx-auto my-3"
                            style="width:25%" type="submit"> Ingresar
                    </button>
               </form>
          </div>
          {% bootstrap_javascript jquery='full' %}
     </body>
</html>
