<!DOCTYPE html>
<html lang="es">
     <head>
          {% load static %}
          {% load bootstrap4 %}
          {% bootstrap_css %}

          <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/monitor.css' %}">
          <script type="text/javascript" src="{% static 'monitor/js/extras.js' %}"></script>
          <meta charset="utf-8">
          <title>Elderly Falls</title>
     </head>
     <body>
          <div class="container mx-auto">
               <form class="form-group border-thin mx-auto wrap" method="POST">
                    {% csrf_token %}
                    <img class="mx-auto d-block mt-2"
                         src="{% static 'monitor/logo_ups.png' %}"
                         width="350" height="100">
                         {% if mensaje != "" %}
                              <div class="alert alert-danger text-center" role="alert">
                                   {{mensaje}}
                              </div>
                         {% endif %}
                    <input class="form-control text-center mx-auto mt-3 mb-2" style="width:50%"
                           type="email" name="correo" placeholder="Correo electrónico"
                           pattern="[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})"
                           maxlength="100" required>
                    <input class="form-control text-center mx-auto" style="width:50%"
                           type="password" name="clave" placeholder="Contraseña"
                           maxlength="30" required>
                    <button class="form-control text-center btn-primary mx-auto my-3"
                            style="width:35%" type="submit">Iniciar sesión
                    </button>
               </form>
          </div>
          {% bootstrap_javascript jquery='full' %}
     </body>
</html>
