<!DOCTYPE html>
<html lang="es">
     <head>
          {% load static %}
          {% load bootstrap4 %}
          {% bootstrap_css %}

          <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/monitor.css' %}">
          <meta charset="utf-8">
          <title>Elderly Falls</title>
     </head>
     <body>
          <div class="mx-2">
               <div class="row my-2 mr-2">
                    <h5 class="col ml-2">
                         Bienvenido, {{usuario_autenticado.persona.nombre}} {{usuario_autenticado.persona.apellido}}
                    </h5>
                    <div class="col" align="right">
                         <a class="btn btn-info text-center"
                            href="/administracion"
                            style="width:20%" role="button">Monitor
                         </a>
                         <a class="btn btn-info text-center"
                            href="/administracion/usuarios"
                            style="width:20%" role="button">Usuarios
                         </a>
                         <a class="btn btn-primary text-center"
                            href="/logout"
                            style="width:20%" role="button">Cerrar sesión
                         </a>
                    </div>
               </div>
               <div class="border rounded">
                    <table class="table table-wrapper vertical-scroll mx-4 my-2">
                         <thead>
                              <tr class="row justify-content-center text-center">
                                   <th class="col">Cedula</th>
                                   <th class="col">Nombre</th>
                                   <th class="col">Apellido</th>
                                   <th class="col">Fecha de nacimiento</th>
                                   <th class="col">
                                        <a class="btn btn-info text-center"
                                           href="/administracion/pacientes/agregar"
                                           role="button">Agregar
                                        </a>
                                   </th>
                              </tr>
                         </thead>
                         <tbody style="height: 500px;">
                              {% if pacientes %}
                                   {% for paciente in pacientes %}
                                        <tr class="row justify-content-center text-center">
                                             <td class="col">{{paciente.persona.cedula}}</td>
                                             <td class="col">{{paciente.persona.nombre}}</td>
                                             <td class="col">{{paciente.persona.apellido}}</td>
                                             <td class="col">{{paciente.fecha_nacimiento}}</td>
                                             <td class="col">
                                                  <a class="btn btn-warning text-center"
                                                     href="/administracion/pacientes/editar/{{paciente.id}}"
                                                     role="button">Editar
                                                  </a>
                                                  <a class="btn btn-danger text-center"
                                                     href="/administracion/pacientes/eliminar/{{paciente.id}}"
                                                     role="button">Eliminar
                                                  </a>
                                             </td>
                                        </tr>
                                   {% endfor %}
                              {% endif %}
                         </tbody>
                    </table>
               </div>
          </div>
          {% bootstrap_javascript jquery='full' %}
     </body>
</html>
