<!DOCTYPE html>
<html lang="es">
     <head>
          {% load static %}
          {% load bootstrap4 %}
          {% bootstrap_css %}

          <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/monitor.css' %}">
          <meta charset="utf-8">
          <title>Elderly Falls</title>
     </head>
     <body>
          <div class="mx-2">
               <div class="row my-2 mr-2">
                    <h5 class="col ml-2">
                         Bienvenido, {{usuario_autenticado.persona.nombre}} {{usuario_autenticado.persona.apellido}}
                    </h5>
                    <div class="col" align="right">
                         <a class="btn btn-info text-center"
                            href="/administracion"
                            style="width:20%" role="button">Monitor
                         </a>
                         <a class="btn btn-info text-center"
                            href="/administracion/pacientes"
                            style="width:20%" role="button">Pacientes
                         </a>
                         <a class="btn btn-primary text-center"
                            href="/logout"
                            style="width:20%" role="button">Cerrar sesión
                         </a>
                    </div>
               </div>
               <table class="table vertical-scroll mx-auto mt-4" style="width: 90%">
                    <thead class="mx-auto">
                         <tr class="row justify-content-center text-center">
                              <th class="col">Nombre</th>
                              <th class="col">Apellido</th>
                              <th class="col">Correo</th>
                              <th class="col">Tipo</th>
                              <th class="col">
                                   <a class="btn btn-info text-center"
                                      href="/administracion/usuarios/agregar"
                                      role="button">Agregar
                                   </a>
                              </th>
                         </tr>
                    </thead>
                    <tbody class="mx-auto" style="height: 500px">
                         {% if usuarios %}
                              {% for usuario in usuarios %}
                                   <tr class="row justify-content-center text-center">
                                        <td class="col">{{usuario.persona.nombre}}</td>
                                        <td class="col">{{usuario.persona.apellido}}</td>
                                        <td class="col">{{usuario.correo}}</td>
                                        <td class="col">{{usuario.tipo}}</td>
                                        <td class="col">
                                             {% if usuario.id == usuario_autenticado.id %}
                                                  <a class="btn btn-warning text-center"
                                                     href="/administracion/usuarios/editar/{{usuario.id}}"
                                                     role="button">Editar
                                                  </a>
                                             {% else %}
                                                  <a class="btn btn-warning text-center"
                                                     href="/administracion/usuarios/editar/{{usuario.id}}"
                                                     role="button">Editar
                                                  </a>
                                                  <a class="btn btn-danger text-center"
                                                     href="/administracion/usuarios/eliminar/{{usuario.id}}"
                                                     role="button">Eliminar
                                                  </a>
                                             {% endif %}
                                        </td>
                                   </tr>
                              {% endfor %}
                         {% endif %}
                    </tbody>
               </table>
          {% bootstrap_javascript jquery='full' %}
     </body>
</html>
